* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    background-color: papayawhip;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    min-width: 600px;
}

.message.sent{
    text-align: right;
    background-color: palevioletred;
}

.message.received {
    background-color: paleturquoise;
}

.timestamp{
    font-size: 16px;
}